body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 90%;
}

h1 { color: #1cb0f6; text-align: center; font-size: 2rem;}

.form-group { margin-bottom: 20px; }

label { display: block; margin-bottom: 8px; font-weight: bold; font-size: 1.1rem; }

input {
    width: 100%;
    padding: 15px; /* Aqui o campo ficou um pouco maior para facilitar a digitação*/
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-primary {
    background-color: #1cb0f6;
    color: white;
    border: 4px solid #1899d6;
}

.btn-sucess {
    background-color: #58cc02;
    color: white;
    border-bottom: 4px solid #46a302;
}

#mensagem-feedback {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}