/* Reset básico para garantir que a página ocupe 100% da altura */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  background-color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

/* Container principal do App.jsx */
.app-container {
  display: flex;
  flex-direction: column; /* Um embaixo do outro */
  min-height: 100vh;
}

/* Área onde as páginas (Auth, Dashboard) serão renderizadas */
.main-content {
  flex: 1; /* Ocupa todo o espaço que sobra abaixo da Navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza o card de login no meio do espaço branco */
  width: 100%;
  /* padding: 20px; */
}

/* Se quiser que em outras telas o conteúdo comece do topo e não do centro: */
.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
}